@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/inicio"; 
@import "./partials/footer";
@import "./partials/media-queries";


        /*GENERAL*/

        /* INICIO */
        
        
            /* QUIENES SOMOS */
        .body-quienes-somos{
            height: 100vh;
            background-image: url(../img/fondo-quienes-somos.jpg);
            margin-top: 60px;
            background-size: cover; 
            background-position: center;
        }
        
        .main-quienes-somos{
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 3rem;
        }
        
        
        .quienes-somos1 {
            display: flex;
            background-color: rgba(255, 255, 255, 0.573);
            padding: 2rem;
            margin-inline: 3rem;
            gap: 2rem;
        }
        
        .quienes-somos1 > .div-img{
            flex: 1;
        }
        
        .quienes-somos-img1{
            width: 100%;
        }
        
        .quienes-somos1 > .div-text{
            flex: 2;
        }
        
        .div-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
            gap: 0.5rem;
        }
        
        .div-text > h2{
            padding-left: 1rem;
        }
        
        /* QUE HACEMOS */
        .body-que-hacemos{
            height: 100vh;
            background-image: url(../img/que-hacemos.jpg);
            background-size: cover; 
            background-position: center;
            margin-top: 60px;
        }
        
        .que-hacemos-texto{
            background-color: rgba(255, 255, 255, 0.573);
            padding: 2rem;
            margin: 2rem;
            margin-inline: 2rem;
            font-size: 1.2rem;
        }
        
        .que-hacemos-texto > h2{
            font-weight: 600;
        }
        
        .que-hacemos-texto  a{
            text-decoration: none;
            color: inherit;
        }
        
        .que-hacemos-texto  a:hover{
            text-decoration: underline;
        }
        
        
            /* PRODUCTOS */
        .body-productos{
            height: 100vh;
            background-image: url(../img/productos.jpg);
            background-size: cover; 
            background-position: center;
            margin-top: 60px;
        }
        
        .main-productos{
            min-height: 100vh;
        }
        .card{
            width: 18rem;
            background-color: rgba(255, 255, 255, 0.573);
        }
        
        .row{
            gap: 2rem;
            justify-content: center;
        }
        
        .container{
            margin-top: 2rem;
        }
        
        .card-img-top{
            border-radius: 5px;
        }
        
        /* CONTACTO */
        .body-contacto{
            min-height: 100vh;
            background-image: url(../img/fondo-contacto.webp);
            background-size: cover; 
            background-position: center;
            margin-top: 60px;
        }
        
        .h2-cont, .p-cont{
            text-align: center;
        }
        
        .p-cont{
            font-style: italic;
        }
        
        .form{
            padding: 2.5rem;
            border: solid black;
            margin-inline: 5rem;
            background-color: rgba(255, 255, 255, 0.573);
            margin-top: 60px;
            
        }
        
        .form-group{
            margin: 0px 0px 20px;
            padding: 4px;
        }
        
        .form-group > label, p{
            padding-left: 0.5rem;
        }
        
        .p-block{
            display: block;
        }
        
        .submit{
            display: flex;
            justify-content: center;
        }
        
        .input-textarea{
            min-width: 100%;
            padding: 0.5rem;
        }
        
