@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 0;
}
.navbar .container-fluid {
  background-color: rgb(118, 52, 26);
}
.navbar .container-fluid .navbar-brand {
  padding-bottom: 0;
}
.navbar .container-fluid .navbar-brand .logo {
  width: 200px;
  height: auto;
  animation: shake-top 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s both;
}
.navbar .container-fluid .navbar-collapse {
  justify-content: flex-end;
}
.navbar .container-fluid .navbar-collapse .navbar-nav {
  text-align: center;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-link {
  color: rgb(250, 163, 47);
  font-weight: 500;
}
.navbar .container-fluid .navbar-collapse .navbar-nav .nav-link:hover {
  text-decoration: underline;
  background-color: rgba(250, 162, 47, 0.252);
  transition: background-color 0.7s;
}

.body-inicio {
  background-image: url(../img/fondo-inicio.jpg);
  background-size: cover;
  margin-top: -56px;
}
.body-inicio .main-inicio {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.body-inicio .main-inicio .zona-cartel .cartel {
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.418);
  border: solid rgba(0, 0, 0, 0.527);
  border-radius: 10px;
  margin: 1rem auto;
}
.body-inicio .main-inicio .zona-cartel .cartel-direccion {
  width: 300px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.418);
  border: solid rgba(0, 0, 0, 0.527);
  border-radius: 10px;
  margin: auto;
}
.body-inicio .main-inicio .zona-cartel .cartel-direccion .boton {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  background-color: rgb(118, 52, 26);
  color: rgb(250, 163, 47);
  text-decoration: none;
  border-radius: 5px;
}

.body-quienes-somos {
  background-image: url(../img/fondo-quienes-somos.jpg);
  background-size: cover;
  background-position: center;
}
.body-quienes-somos .main-quienes-somos {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: -3.5rem;
}
.body-quienes-somos .main-quienes-somos .quienes-somos1 {
  display: flex;
  background-color: rgba(255, 255, 255, 0.573);
  padding: 2rem;
  margin-inline: 3rem;
  gap: 2rem;
}
.body-quienes-somos .main-quienes-somos .quienes-somos1 > .div-text {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 0.5rem;
}
.body-quienes-somos .main-quienes-somos .quienes-somos1 > .div-text > h2 {
  padding-left: 1rem;
}
.body-quienes-somos .main-quienes-somos .quienes-somos1 > .div-img {
  flex: 1;
}
.body-quienes-somos .main-quienes-somos .quienes-somos1 > .div-img .quienes-somos-img1 {
  width: 70%;
  margin-left: 62px;
}
.body-quienes-somos .main-quienes-somos .quienes-somos1 > .div-img .quienes-somos-img2 {
  width: 80%;
  margin-left: 40px;
}

.body-que-hacemos {
  height: 100vh;
  background-image: url(../img/que-hacemos.jpg);
  background-size: cover;
  background-position: center;
}
.body-que-hacemos .main-que-hacemos {
  margin-top: 120px;
}
.body-que-hacemos .main-que-hacemos .que-hacemos-texto {
  background-color: rgba(255, 255, 255, 0.573);
  padding: 2rem;
  margin-inline: 15rem;
  font-size: 1.2rem;
}
.body-que-hacemos .main-que-hacemos .que-hacemos-texto > h2 {
  font-weight: 600;
}
.body-que-hacemos .main-que-hacemos .que-hacemos-texto a {
  text-decoration: none;
  color: inherit;
}
.body-que-hacemos .main-que-hacemos .que-hacemos-texto a:hover {
  text-decoration: underline;
}

.body-productos {
  background-image: url(../img/productos.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.body-productos .main-productos {
  margin-top: 120px;
}
.body-productos .main-productos .container .row {
  gap: 2rem;
  justify-content: center;
  margin-bottom: 5rem;
}
.body-productos .main-productos .container .row .card {
  width: 18rem;
  background-color: rgba(255, 255, 255, 0.573);
}
.body-productos .main-productos .container .row .card:hover {
  animation: pulsate-fwd 0.5s ease-in-out both;
}
.body-productos .main-productos .container .row .card .card-img-top {
  border-radius: 5px;
}
.body-productos .main-productos .container .row .card .btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(118, 52, 26);
  color: rgb(250, 163, 47);
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.body-contacto {
  background-image: url(../img/fondo-contacto.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.body-contacto .main-contacto {
  margin-top: 60px;
}
.body-contacto .main-contacto .form {
  padding: 2.5rem;
  border: solid black;
  margin-inline: 25rem;
  background-color: rgba(255, 255, 255, 0.573);
  margin-top: 60px;
}
.body-contacto .main-contacto .form .h2-cont, .body-contacto .main-contacto .form .p-cont {
  text-align: center;
}
.body-contacto .main-contacto .form .p-cont {
  font-style: italic;
}
.body-contacto .main-contacto .form .form-group {
  margin: 0px 0px 20px;
  padding: 4px;
}
.body-contacto .main-contacto .form .form-group > label, .body-contacto .main-contacto .form .form-group p {
  padding-left: 0.5rem;
}
.body-contacto .main-contacto .form .form-group .input-textarea {
  min-width: 100%;
  padding: 0.5rem;
}
.body-contacto .main-contacto .form .submit {
  display: flex;
  justify-content: center;
}
.body-contacto .main-contacto .form .submit .boton {
  display: inline-block;
  padding: 8px 16px;
  background-color: rgb(118, 52, 26);
  color: rgb(250, 163, 47);
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(118, 52, 26);
  width: 100%;
  margin-top: auto;
  position: relative;
}
.footer .p-footer {
  display: flex;
  align-items: center;
  color: rgb(250, 163, 47);
  font-style: italic;
  font-size: 0.8rem;
  padding-inline: 1rem;
}
.footer .logo-footer .logo {
  width: 200px;
  height: auto;
}
@keyframes pulsate-fwd {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 1024px) {
  .body-contacto .main-contacto .form {
    margin-inline: 5rem;
  }
  .body-que-hacemos .main-que-hacemos .que-hacemos-texto {
    margin-inline: 1rem;
  }
}
@media screen and (max-width: 992px) {
  .quienes-somos1 > .div-text {
    flex: 1;
  }
  .div-img {
    display: none;
  }
}
@media screen and (max-width: 670px) {
  .footer {
    justify-content: center;
  }
  .footer .p-footer {
    display: none;
  }
  .body-quienes-somos .main-quienes-somos .quienes-somos1 {
    margin-inline: 1rem;
    padding: 1rem;
    gap: 1rem;
  }
  .body-contacto .main-contacto .form {
    margin-inline: 1rem;
  }
}
@media screen and (max-width: 425px) {
  .main-que-hacemos .que-hacemos-texto .p-que-hacemos {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .body-quienes-somos .main-quienes-somos {
    margin-top: 7rem;
    margin-bottom: 3rem;
  }
}
/*GENERAL*/
/* INICIO */
/* QUIENES SOMOS */
/* QUE HACEMOS */
/* PRODUCTOS */
/* CONTACTO *//*# sourceMappingURL=estilo.css.map */