.footer{
    display: flex;
    justify-content: space-between;
    background-color: rgb(118, 52, 26);
    width: 100%;
    margin-top: auto;
    position: fixed;
    bottom: 0;

    .p-footer{
        display: flex;
        align-items: center;
        color: rgb(250, 163, 47);
        font-style: italic;
        font-size: 0.8rem;
        padding-inline: 1rem;
    }
    .logo-footer{
        .logo {
            width: 200px;
            height: auto;
        }
    }
}