
.navbar{
    padding: 0;
    
    .container-fluid{
        background-color: rgb(118, 52, 26);
    
        .navbar-brand{
            padding-bottom: 0;
        
            .logo{
                width: 200px;
                height: auto;
                -webkit-animation: shake-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.2s both;
                        animation: shake-top 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0.2s both;
            }
        }
    
        .navbar-collapse{
            justify-content: flex-end;

            .navbar-nav{
                text-align: center; 
            
                .nav-link{
                    color: rgb(250, 163, 47);  
                    font-weight: 500;

                    &:hover{
                        text-decoration: underline;
                        background-color: rgba(250, 162, 47, 0.252);
                        transition: background-color 0.7s;
                    }
                }
            }
        }    
    }
}









