.body-inicio{
    background-image: url(../img/fondo-inicio.jpg);
    background-size: cover; 
    margin-top: 60px;

    .main-inicio{
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    
        .zona-cartel{
            .cartel{
                width: 300px;
                padding: 20px;
                background-color: rgba(255, 255, 255, 0.418);
                border: solid rgba(0, 0, 0, 0.527);
                border-radius: 10px;
                margin: 1rem auto;
            }
            .cartel-direccion {
            width: 300px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.418);
            border: solid rgba(0, 0, 0, 0.527);
            border-radius: 10px;
            margin: auto;
            
                .boton {
                    display: inline-block;
                    padding: 8px 16px;
                    margin-top: 10px;
                    background-color: #4CAF50;
                    color: #fff;
                    text-decoration: none;
                    border-radius: 5px; 
                }
            }
        }
    }
}