

@media screen and (max-width: 992px) {
    .quienes-somos1 > .div-text{
        flex: 1;
    }
    .div-img{
        display: none;
    }    
}

@media screen and (max-width: 670px) {
    .footer{
        justify-content: center;

        .p-footer {
            display: none;
        }
    }
    .body-contacto{
        .main-contacto{
            .form{
                margin-inline: 1rem;
            }
        }
    }
    .body-quienes-somos{
        .main-quienes-somos{
            .quienes-somos1{
                margin-inline: 1rem;
                padding: 1rem;
                gap: 1rem;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .main-que-hacemos{
        .que-hacemos-texto{
            .p-que-hacemos{
                display: none;
            }
        }
    }
}