.body-productos{
    height: 100vh;
    background-image: url(../img/productos.jpg);
    background-size: cover; 
    background-position: center;
    margin-top: 60px;

    .main-productos{
        min-height: 100vh;

        .container{
            margin-top: 2rem;

            .row{
                gap: 2rem;
                justify-content: center;
                margin-bottom: 5rem;

                .card{
                    width: 18rem;
                    background-color: rgba(255, 255, 255, 0.573);

                    &:hover {
                        -webkit-animation: pulsate-fwd 0.5s ease-in-out both;
                                animation: pulsate-fwd 0.5s ease-in-out both;
                    }

                    .card-img-top{
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}