*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontRoboto;
}

p{
    margin: 0;
}

body {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}